Repository wwmoraes/anilistarr: changes, and which lefthook commands are due for each by the changed paths.
All: checktask, gofumpt, golangci-lint, tidy

checktask:
  priority: 1
  run: task -a -j > /dev/null

gofumpt:
  priority: 1
  run: gofumpt -l -w {staged_files}
  stage_fixed: true

golangci-lint:
  priority: 10
  run: task lint:code

tidy:
  priority: 40
  run: task go:tidy
  stage_fixed: true

refactor: return not found error on cache miss
  internal/adapters/cachedtracker.go
  internal/adapters/multicache.go
  internal/drivers/caches/bolt.go
  internal/drivers/persistence/badger.go
  internal/test/cache.go
  internal/usecases/medialister.go
Due: gofumpt, golangci-lint, tidy

test: multi-cache fallback
  internal/adapters/multicache_test.go
  internal/drivers/caches/memory.go
Due: gofumpt, golangci-lint, tidy

chore: grc go support
  .envrc
  Taskfile.yaml
Due: checktask

chore: updated editorconfig
  .editorconfig
Due: none

chore: unit/integration coverage report tasks
  Taskfile.yaml
Due: checktask

test: unit coverage
  .golangci.yaml
  Taskfile.yaml
  cmd/internal/integration/main.go
  internal/adapters/adapters_test.go
  internal/adapters/cache_test.go
  internal/adapters/cachedtracker_test.go
  internal/adapters/jsonlocalprovider_test.go
  internal/adapters/jsonprovider_test.go
  internal/adapters/mapper_test.go
  internal/adapters/multicache_test.go
  internal/drivers/caches/memory.go
  internal/drivers/memory/memory.go
  internal/testdata/cache.go
  internal/testdata/httpclient.go
  internal/testdata/memoryfs.go
  internal/testdata/provider.go
  internal/testdata/test.go
  internal/testdata/testdata.go
  internal/testdata/tracker.go
  internal/usecases/getter_test.go
  internal/usecases/medialister.go
  internal/usecases/medialister_test.go
Due: checktask, gofumpt, golangci-lint, tidy

chore: updated shell.nix
  shell.nix
Due: none

build: updated codecov CLI
  .task/codecov.yaml
  Taskfile.yaml
  shell.nix
Due: checktask

docs: moved original diagram to docs
  .editorconfig
  Taskfile.yaml
  docs/components.puml
Due: checktask

chore: add niv for nix sources management
  .editorconfig
  nix/sources.json
  nix/sources.nix
  shell.nix
Due: none

build: refactor tasks
  .lefthook.yaml
  .task/codecov.yaml
  .task/docker.yaml
  .task/gnu.yaml
  .task/golang.yaml
  Taskfile.yaml
  gen.go
  internal/drivers/trackers/anilist/anilist.go
Due: checktask, gofumpt, golangci-lint, tidy

chore: golang coverage task output
  .task/golang.yaml
  Taskfile.yaml
Due: checktask

chore: update API spec
  internal/api/api.gen.go
  swagger.yaml
Due: gofumpt, golangci-lint, tidy

ci: add lint commit task
  .lefthook.yaml
  Taskfile.yaml
  shell.nix
Due: checktask

ci: fix container lint task reference
  Taskfile.yaml
Due: checktask

ci: add dependabot schema
  .github/dependabot.yml
Due: none

chore: bump nix unstable source
  nix/sources.json
Due: none

chore: remove module prefix on coverage report
  .task/golang.yaml
Due: none

chore: update dependencies
  go.mod
  go.sum
Due: tidy

chore: update helix settings
  .helix/ignore
Due: none

docs: update to-dos
  TODO.md
Due: none

chore: add check task
  Taskfile.yaml
Due: checktask

chore: fix golang tasks
  .task/golang.yaml
  Taskfile.yaml
Due: checktask

chore: remove version cmd
  cmd/version/main.go
Due: gofumpt, golangci-lint, tidy

chore: remove -v from test flags
  Taskfile.yaml
Due: checktask

fix(handler): change metrics app name
  cmd/handler/main.go
Due: gofumpt, golangci-lint, tidy

refactor(api): make service interface public
  internal/api/service.go
Due: gofumpt, golangci-lint, tidy

fix(anilist): handle 404 error
  go.mod
  internal/drivers/trackers/anilist/anilist.go
Due: gofumpt, golangci-lint, tidy

chore: add go-cover-treemap task
  .task/golang.yaml
  Taskfile.yaml
  shell.nix
Due: checktask

build: move task snippets to remote repo
  .envrc
  .github/workflows/integration.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .gitignore
  .task/.gitignore
  .task/codecov.yaml
  .task/docker.yaml
  .task/gnu.yaml
  .task/golang.yaml
  Taskfile.dist.yaml
  shell.nix
Due: none

chore: cleanup vscode settings
  .vscode/settings.json
Due: none

build: update goreleaser settings
  .goreleaser.yml
Due: none

build: sub cocogitto for lefthook
  .lefthook.yaml
  .markdownlintignore
  .typos.toml
  cmd/handler/main.go
  cog.toml
Due: gofumpt, golangci-lint, tidy

chore: drop golangci-lint-langserver
  shell.nix
Due: none

feat(handler): add version flag
  cmd/handler/main.go
Due: gofumpt, golangci-lint, tidy

test: fix integration test values
  cmd/internal/integration/main.go
  internal/adapters/cachedtracker/cachedtracker.go
  internal/usecases/medialist.go
Due: gofumpt, golangci-lint, tidy

refactor(handler): linux-only automaxprocs
  cmd/handler/main.go
  cmd/handler/main_linux.go
  cmd/internal/integration/main.go
  cmd/internal/integration/main_linux.go
Due: gofumpt, golangci-lint, tidy

ci: cleanup workflows
  .envrc
  .github/workflows/integration.yml
  .github/workflows/release.yml
Due: none

style: update ignored identifiers
  .golangci.yaml
Due: none

Path conditions:
  checktask: any of: Taskfile.yaml
  gofumpt: any of: **/*.go
  golangci-lint: any of: **/*.go
  tidy: any of: {**/*.go,go.mod}
